<div id="resources_list" class="mt-4 space-y-3">
  <% if resources.any? %>
    <% resources.each do |resource| %>
      <%= render "projects/resources/resource", resource: resource %>
    <% end %>
  <% else %>
    <p class="text-slate-500 text-sm italic">No resources yet. Add your first one above!</p>
  <% end %>
</div>
