<div id="<%= window %>_list_container" class="priority-window-section relative" style="z-index: <%= window_z_index(window) %>;">
  <%= render "todos/priority_window", window: window, todos: todos %>
</div>
