<% content_for :title, "My Todos" %>
<% content_for :main_class, "flex flex-1 justify-center px-4 py-10 sm:px-6 lg:px-8" %>

<%# Subscribe to Turbo Stream channel for real-time voice recording updates %>
<%= turbo_stream_from "user_#{Current.user.id}_todos" %>

<div class="w-full max-w-3xl space-y-8">
  <%= render "shared/flash" %>

  <%# Voice recording status - updated via Turbo Streams %>
  <div id="voice_recording_status"></div>

  <section class="rounded-3xl border border-white/40 bg-white/80 p-6 shadow-xl backdrop-blur">
    <%= render "todos/form", todo: @todo %>
  </section>
  <%= render "todos/lists", active_todos: @active_todos, archived_todos: @archived_todos %>
</div>
